<div *ngIf="hero">
	<h2>{{ hero.name | uppercase }} Details</h2>
	<div><label>id: </label>{{ hero.id }}</div>
	<div>
		<label for="name">name:</label>&nbsp;
		<input [(ngModel)]="hero.name" id="name" type="text" placeholder="name" />
	</div>
	<button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>